doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title User profile
        link(rel='stylesheet prefetch', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
        link(rel='stylesheet prefetch', href='http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
        link(rel='stylesheet', href='/css/index_style.css')
        script(src="/js/userprofile.js")
        script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
        link(rel='stylesheet', href='/css/userprofile.css')
    body
        include ./partials/navbar.jade

            // profile pic
        .portrait
            img(src='/sources/banner.png')
        .content
            .properties-section
                .container
                    .properties-grids
                        .col-md-3.userprofile-left
                            .properties-top

                            .feature
                                h4 Posted
                                .feature-top
                                     each val in thisuser.posting
                                         img.img-responsive(src=val.picture, alt='/')
                                         h5 #{val.location}
                                             p #{val.des}
                                             a(href='/houseinfo/' + val.houseid) Know More
                        .col-md-9.userprofile-right
                            .user-profile
                                .profile-left
                                    h4 #{thisuser.username}
                                    img.img-responsive(src='#{thisuser.profilepic}', alt='/')
                                    p    
                                        | User profile picture link: 
                                        br
                                        input#profilepiclink(readonly, type='text', value='#{thisuser.profilepic}')
                                .profile-right
                                    h5 Contact me
                                    ul
                                        li
                                            i.glyphicon.glyphicon-envelope(aria-hidden='true')
                                            a#email(href='#') #{thisuser.email}
                                        li
                                            i.glyphicon.glyphicon-earphone(aria-hidden='true')
                                            |  Telephone :
                                            input#telephone(readonly, type='text', value=thisuser.telephone)
                                        //- li
                                        //-     i.glyphicon.glyphicon-print(aria-hidden='true')
                                        //-     |  Phone : #{thisuser.telephone}
                                        if (user == thisuser.email||currentUser.admin)
                                            li
                                                input#edit(type="submit", name="submit", value="edit", onclick="editProfile()")

                                .clearfix
                            .about-me
                                h4 About Me
                                div#des
                                    p #{thisuser.description}
                    .clearfix
        .copyright.py-4.text-center.text-white
            .container
                small Copyright &copy; CSC309 TEAM 2018
